# ShoppableVideo Environment Configuration

# Required: configurations with TwelveLabs API
TWELVELABS_API_KEY=<YOUR_API_KEY>
NEXT_PUBLIC_DEFAULT_INDEX_ID=<YOUR_DEFAULT_INDEX_ID>
TWELVELABS_API_BASE_URL=https://api.twelvelabs.io/v1.3
